{% extends "main/base.html" %}
{% block title %}{{ category_name }}{% endblock %}
{% block body %}
    <h1>{{ category_name }}</h1>
    <h4>Для детального просмотра нажмите на фотографию товара</h4>
    {% if products %}
        {% for product in products %}
            <div class="navbar navbar-expand navbar-dark container-fluid align-right">
                <a href="/product/{{ product.id }}"><img src="/static/main/img/phones/{{ product.id }}.jpg" alt="{{ product.name }} " width="250"></a>
                <h3> {{ product.name }}ㅤ</h3>
                <h4> Цена: <i> {{ product.price }}ㅤ</i></h4>
                <h5>{{ product.color }} </h5>
            </div>

        {% endfor %}
    {% else %}
        {% if is_category %}
            <h3>Ещё нет товаров в категории...</h3>
        {% else %}
            <h3>Пока здесь пусто...</h3>
        {% endif %}
    {% endif %}
{% endblock %}