{% extends "main/base.html" %}
{% block title %}
    {{ action }} задачи
{% endblock %}

{% block body %}
    {% load crispy_forms_tags %}
    <div class="container mt-5 features">
        {% if messages %}
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        {% endif %}
        <h1 class="center">{{ action }} задачи</h1>
        <form method="post" class="left">
            {% csrf_token %}
            {% if action_v == "Удалить" %}
                <h3 class="center">Вы действительно хотите удалить задачу "{{ task.name }} и все её данные?"</h3>
            {% else %}
                {% for el in form %}
                    {% if el.name == 'priority' %}
                        <p>Приоритет</p>
                    {% endif %}
                    {% if el.name == 'deadline' %}
                        <p>Срок(дедлайн)</p>
                    {% endif %}
                    {{ el }}<br>
                {% endfor %}
            {% endif %}
            {% if action_v != "Удалить" %}
                <input type="submit" class="btn btn-success" value="{{ action_v }}">
                <input type="reset" class="btn btn-outline-danger" value="Сброс">
            {% else %}
                <div class="center">
                    <input type="submit" class="btn btn-outline-danger" value="{{ action_v }}">
                    <a class="btn btn-success" href="/tasks/{{ task.id }}">Отмена</a>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}