{% extends "main/base.html" %}
{% block title %}Изготовители{% endblock %}
{% block body %}
    <h1>Изготовители</h1>
    {% if manufacturers %}
        {% for manufacturer in manufacturers %}
            <div class="container-fluid align-right">
                <a href="/manufacturer/{{ manufacturer.id }}"><img src="/static/main/img/manufacturer/{{ manufacturer.id }}.jpg" alt="{{ manufacturer.name }} " width="250"></a>
                <h3>{{ manufacturer.name }}</h3>
                <h4>{{ manufacturer.short_description }}</h4>
                <a class="btn btn-outline-secondary" href="/manufacturer/{{ manufacturer.id }}">Просмотреть</a>
            </div>
        {% endfor %}
    {% else %}
        <h3>Ещё нет изготовителей...</h3>
    {% endif %}
{% endblock %}